<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>DORMUS</h1>
    <p>
      Hi, <%=@user.first_name%> <%=@user.last_name%>! Your Dormus account has been created.
      <br><br>
      <%=@user.email%> was used to create your account. Your password is "123456" plus the three digits of your room number without any spaces.
      <br><br>
      Click the following link to go to your dormus account:
      <a href="http://localhost:3000/applicants/sign_in">DORMUS Account setup</a>
      <br>
      <br>
      Setup your account by logging in then changing your password. Also, if there are any changes to be made to your profile since the submission of your application, you may edit them using your account.
      <br>
      <br>
      If you have any concerns, don't hesitate to call us at 576-5790.
      
      <br>
      <br>
      Thanks, <br>Dormus staff
    </p>
  </body>
</html>