<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>DORMUS</h1>
    <p>
      Hi, <%=@user.first_name%> <%=@user.last_name%>! Your Dormus tenant information sheet has been received.
      <br><br>
      Your room number is <%=@user.room_number%>.
      <br><br>
      We will be reviewing your tenant information sheet and once all requirements have been processed your Dormus account will be created. Details regarding account will be sent here.
      <br>
      <br>
      If you have any concerns, don't hesitate to call us at 576-5790.
      <br>
      <br>
      If you wish to learn more about our services, visit <a href="http://mydorm.ph/">MyDorm PH.</a>
      <br>
      <br>
      Thanks, <br>Dormus staff
    </p>
  </body>
</html>