<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>DORMUS</h1>
    <p>
      Hi, <%=@user.first_name%> <%=@user.last_name%>! Your Dormus application has been approved.
      <br><br>
      Your room number is <%=@user.room_number%>.
      <br><br>
      Please visit us at 1318-1324 Espana Boulevard, 459 Manila, 1008 Metro Manila to finalize some details regarding your account and settle your deposit fee of P4,000.00.
      <br>
      <br>
      If you have any concerns, don't hesitate to call us at 576-5790.
      <br>
      <br>
      If you wish to send another application, visit <a href="http://mydorm.ph/">MyDorm PH.</a>
      <br>
      <br>
      Thanks, <br>Dormus staff
    </p>
  </body>
</html>