<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>DORMUS</h1>
    <p>
      Hi, <%=@user.name%>! Your Dormus account has been created.
      <br><br>
      <%=@user.email%> was used to create your account. Your password is "123456" plus the three digits of your child's room number without any spaces.
      <br><br>
      Click the following link to go to your dormus account:
      <a href="http://localhost:3000/parents/sign_in">DORMUS Account setup</a>
      <br>
      <br>
      Setup your account by logging in then changing your password. Using this account you may view your child's Dormus account.
      <br>
      <br>
      Thank you for choosing us as your partner in caring for your child. If you have any concerns, don't hesitate to call us at 576-5790.
      
      <br>
      <br>
      Thanks, <br>Dormus staff
    </p>
  </body>
</html>