<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>DORMUS</h1>
    <p>
      Dear <%=@user.first_name%> <%=@user.last_name%>,
      <br>
      We regret to inform you that your application has been rejected as all rooms are occupied at the moment.<br>
    </p>
    <p>
      If you wish to send another application, visit <a href="http://mydorm.ph/">MyDorm PH.</a>
    </p>
    <p>Thanks, <br>Dormus staff</p>
  </body>
</html>