<p id="notice"><%= notice %></p>

<p>
  <strong>Food plan date:</strong>
  <%= @food_plan.food_plan_date %>
</p>

<%= link_to 'Edit', edit_food_plan_path(@food_plan) %> |
<%= link_to 'Back', food_plans_path %>
