<!DOCTYPE html>
<html>
<head>
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card">
      <div class="card_header">
        <center>
          <span class="appli_title">Tenant Application Form and Information Sheet</span>
        </center>
      </div>
      <div class="container-fluid appli_abox">
       <div class="">
        <div class="col-md-6">
         <div class="imgholder">
          <img id="img-icon" src="/assets/img-icon.png"><center>
          <div class="img-upload">
           Upload Image
         </div></center>
       </div>
       <div class="img-base">
        
       </div>
     </div>
     <div class="col-md-6 appli_rbox">
      
       <%= render 'form' %>

       <%= link_to 'Back', root_path, :class=>"btn sendbtn1" %>
     </div>
   </div>
 </div>



</div>

</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
