<!DOCTYPE html>
<html>
<head>
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="default_bg container-fluid">

    <div class="card" style="width:40%; margin-top:5vh;margin-left:30%;">
      <div class="card_header">
        <center>
          <span class="appli_title">Thank you!</span>
        </center>
      </div>
      <div class="container-fluid p1_abox" style="">
      <div class="col-md-1">
      </div>
        <div class="col-md-10">
         <%= link_to edit_applicant_path(params[:id]), :style=>"text-decoration: none;" do %>
          <div class="p1_sbox sbox1" style="height:57vh;margin-top:20px;">
            <center>
              <h3>Forgot Something?</h3>
              <div class="p1_writeup">
                Edit your tenant information sheet here.
                
              </div>

              <img id="step1" src="/assets/step1.png">
            </center>
<center><%= @applicant.first_name %> <%=@applicant.last_name%></center>
             <img class="check3" src="/assets/check.png">

          </div>
          <% end %>
          <br>
        <center>
        <a href="http://mydorm.ph/" style="text-decoration:underline;">To Dormus Website</a>
        </center>
        </div>
      </div>



    </div>

  </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
