<!DOCTYPE html>
<html>
<head>
  <title>DORMUS</title>
  <!--<link rel="shortcut icon" href="/assets/h-logo2.ico" />-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
</head>
<nav class="navbar navbar-custom navbar-inverse .navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="dormus_logo"
             src="assets/dormus_logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Application <span class="sr-only">(current)</span></a></li>
        <li><a href="http://mydorm.ph/">myDorm.ph</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="p1_exi"><a class="p1_existacc" >Already have an account?</a></li>
        <li><a href="/dormers/sign_in">Sign in</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<body>
<div class="default_bg container-fluid">

  <div class="card">
    <div class="card_header">
      <center>
      <span class="p1_title">DORMUS Application Process</span>
     </center>
    </div>
    <div class="container-fluid p1_abox">
      <div class="col-md-4">
      <%= link_to new_applicant_path, :style=>"text-decoration: none;" do%>
        <div class="p1_sbox sbox1">
          <center>
            <h3>Step 1</h3>
            <div class="p1_writeup">
            Fill in your tenant application form and information sheet
            </div>
            <img id="step1" src="assets/step1.png">
          </center>
        </div>
        <%end%>
      </div>
      <div class="col-md-4">
        <div class="p1_sbox">
          <center>
            <h3>Step 2</h3>
            <div class="p1_writeup">
            Select a room
            </div>
            <img id="step2" src="assets/step2.png">
          </center>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p1_sbox">
          <center>
            <h3>Step 3</h3>
            <div class="p1_writeup">
            Wait for email confirmation!
            <br>
            (Within the day)
          </div>
          <img id="step3" src="assets/step3.png">
          </center>
        </div>
      </div>
    </div>



  </div>

</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap.min.js"></script>
</html>
