<p id="notice"><%= notice %></p>

<p>
  <strong>Date sent:</strong>
  <%= @submission.date_sent %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
