<div class="default_bg container-fluid">
  <div class="card">
    <div class="card_header">
      <center class="title">
        LAUNDRY
      </center>

      <div class="col-md-6">
        <div class="laundry-tab-left">
          <div class="container-fluid">
            <br>
            <center class="tab-header">MALE</center>
            <% @laundry_items.each do |laundry_item| %>
              <% if laundry_item.laundry_item_type == "Male" %>
                <p class="item-left"><%= laundry_item.description %></p>
                <p class="item-right"><%= laundry_item.price %></p>
                <br><br>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="laundry-tab-right">
          <div class="container-fluid">
            <br>
            <center class="tab-header">FEMALE</center>
            <% @laundry_items.each do |laundry_item| %>
              <% if laundry_item.laundry_item_type == "Female" %>
                <p class="item-left"><%= laundry_item.description %></p>
                <p class="item-right"><%= laundry_item.price %></p>
                <br><br>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>