// Place all the styles related to the Applicants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appli_title{
       font-size: 1.2em;
     }
.appli_abox{

   height:65vh;
   overflow-y:scroll; 
 }
.appli_rbox{
	
}
.appfield{
	
}
