// Place all the styles related to the Applicants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appli_title{
       font-size: 1.2em;
     }
.appli_abox{

   height:65vh;
   overflow-y:scroll; 
 }
.appli_rbox{
	padding-bottom: 20px;
}
.appfield{
	
}
.imgholder{
	height:40vh;
	width:40vh;
	border-radius: 20vh;
	background-color: #d9d9d9;
	margin-top: 10vh;
	margin-left: 10%;
	position: fixed;
	z-index:10;
}
.img-base{
	height:2vh;
	width:40vh;
	border-radius: 150vh/10vh;
	background-color: rgba(128, 128, 128, 0.74);
	margin-top: 49.2vh;
	position: fixed;
	margin-left: 10%;
	z-index:9;
}
#img-icon{
	height:20vh;
	margin-left: 10vh;
	margin-top: 6.9vh;
}
.img-upload{
	height:4.4vh;
	background-color: #808080;
  color:white;
	width:17vh;
	color:white;
	padding-top:0.69vh;
	margin-top: 2vh; 
	box-shadow: 0 1px 3px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.24s ease-in-out;
}
.img-upload:hover{
	background-color: #990000;
  border-color: #990000;
  border-radius: 0px;
  color:white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.email-link{
	text-decoration: none;
}
.email-link:hover{
	text-decoration: none;
}
.check1{
   width:50px;
   bottom: 0px;
   float:right;
 }
 .check2{
   width:50px;
   
   margin-top:0px; 
   float:right;
 }
 .indexappli{
 	padding-top: 2vh;
 	margin-top: -5vh;
 	height: 7vh;
 	background-color: transparent;
 	border-bottom:solid #e2e2e2 2px; 
 }
 .scrollbox{
 	overflow-y:scroll;
 	height:62vh;
 	overflow-x:hidden;
 	margin-top: -5vh; 
 	padding-top: 4vh;
 }
 .sb1{
 	font-family: 'Open Sans';
 	font-weight: 700;
 	font-size: 14px;
 }
.imgholder1{
	height:30vh;
	width:30vh;
	border-radius: 20vh;
	background-color: #d9d9d9;
	margin-top: 4vh;
	margin-left: 5.5%;
	position: fixed;
	z-index:10;
}
.img-base1{
	height:2vh;
	width:30vh;
	border-radius: 150vh/10vh;
	background-color: rgba(128, 128, 128, 0.74);
	margin-top: 33.0vh;
	position: fixed;
	margin-left: 5.5%;
	z-index:9;
}
.hr-sh{
	  border: 0;
    height: 1px!important;
    background: #808080;
}
.choosebtn1{
  background-color: #990000;
  margin-right: 90px;
  float:right;
  margin-top: 1.9vh;
  position:relative;
  border-color: #990000;
  border-radius: 0px!important;
  color:white!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.24s ease-in-out;
}
.choosebtn1:hover {
  color:white;
  background-color: #990000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.choosebtn3{
  background-color: #990000;
  margin-right: 95px;
  float:right;
  margin-top: 1.9vh;
  position:relative;
  border-color: #990000;
  border-radius: 0px!important;
  color:white!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.24s ease-in-out;
}
.choosebtn3:hover {
  color:white;
  background-color: #990000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.choosebtnprint{
  background-color: #990000;
  margin-right: 55px;
  float:right;
  margin-top: -1.3vh;
  position:relative;
  border-color: #990000;
  border-radius: 0px!important;
  color:white!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.24s ease-in-out;
   border:0;
   padding:10px;
}
.choosebtnprint:hover {
  text-decoration:none;
  color:white;
  background-color: #990000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.choosebtn2{
  background-color: black;
  margin-right: -170px;
  float:right;
  margin-top: 1.9vh;
  position:relative;
  border-color: black;
  border-radius: 0px!important;
  color:white!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.24s ease-in-out;
}
.choosebtn2:hover {
  color:white;
  background-color: black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.choosebtn4{
  background-color: black;
  margin-right: -220px;
  float:right;
  margin-top: 1.9vh;
  position:relative;
  border-color: black;
  border-radius: 0px!important;
  color:white!important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.24s ease-in-out;
}
.choosebtn4:hover {
  color:white;
  background-color: black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.csel{
	width:50px!important;
}

.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li {
  min-width: 80px;
  text-align: center;
    height: 53px;
    margin-top: -5px;
    padding-top: 5px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    list-style-type: none;
    color:white;
}

.tabs-menu li.current {
    position: relative;
    background-color: #f3f3f3;
    color:black;
    border-top: 4px solid #cc0000;
    z-index: 5;
}
.tabs-menu li a:hover {
    background-color: transparent;
}


.tabs-menu li a {
    padding: 10px;
    /*text-transform: uppercase;*/
    color: white;
    text-decoration: none; 

}

.tabs-menu .current a {
    color: black;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #f3f3f3;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
  display:none;
}

#tab-1 {
   display:block;
}

.hr-dormer{
  border: 0;
    height: 2px!important;
    background: #d9d9d9;
    margin-top:0px;
}