// Place all the styles related to the Applicants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appli_title{
       font-size: 1.2em;
     }
.appli_abox{

   height:65vh;
   overflow-y:scroll; 
 }
.appli_rbox{
	padding-bottom: 20px;
}
.appfield{
	
}
.imgholder{
	height:40vh;
	width:40vh;
	border-radius: 20vh;
	background-color: #d9d9d9;
	margin-top: 10vh;
	margin-left: 10%;
	position: fixed;
	z-index:10;
}
.img-base{
	height:2vh;
	width:40vh;
	border-radius: 150vh/10vh;
	background-color: rgba(128, 128, 128, 0.74);
	margin-top: 49.2vh;
	position: fixed;
	margin-left: 10%;
	z-index:9;
}
#img-icon{
	height:20vh;
	margin-left: 10vh;
	margin-top: 6.9vh;
}
.img-upload{
	height:4.4vh;
	background-color: #808080;
  color:white;
	width:17vh;
	color:white;
	padding-top:0.69vh;
	margin-top: 2vh; 
	box-shadow: 0 1px 3px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.24s ease-in-out;
}
.img-upload:hover{
	background-color: #990000;
  border-color: #990000;
  border-radius: 0px;
  color:white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}