// Place all the styles related to the FoodPlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar {
   font-family: 'Open Sans'!important;	
  .day {color:black;border-color:#9e9e9e!important;height:90px!important;}
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
  	background-color: #ea9999!important;
  }
  .past a{
  	visibility: hidden!important;
  }
  .past {background-color: #bfbfbf!important; color:#808080;}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
.simple-calendar table{
	border-color:#9e9e9e!important;
}
.simple-calendar table th{
	border-color:#9e9e9e!important;
	text-align: center;
	color:black!important;
}
.simple-calendar table tbody{
	border-color:#9e9e9e!important;
}
//to remove btns
.simple-calendar {
	color:transparent;
	width:98%;
}
.simple-calendar a {
	visibility: hidden;
}
.simple-calendar a:hover {
	text-decoration: none;
	background-color: transparent;
}
.fp-tab{
	margin-top: 3vh;
	margin-left: 7%;
	height:62vh;
	width:90%;
	border: solid 1px #9e9e9e;
	color: black;
}
//EDIT _week_calendar for food_plan dropdown


.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
     list-style-type: none;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    /*text-transform: uppercase;*/
    color: #fff;
    text-decoration: none; 

}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
	display:none;
}

#tab-1 {
   
}
