<%= simple_form_for(@washlist) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :reference_no %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
