<p id="notice"><%= notice %></p>

<p>
  <strong>Reference no:</strong>
  <%= @washlist.reference_no %>
</p>

<%= link_to 'Edit', edit_washlist_path(@washlist) %> |
<%= link_to 'Back', washlists_path %>
